.u-section-1 .u-sheet-1 {
  min-height: 10px;
}.u-section-2 {
  background-image: linear-gradient(black, #1a1a1a);
}

.u-section-2 .u-sheet-1 {
  min-height: 339px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 319px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  line-height: 1.5;
  animation-duration: 1000ms;
  margin: 50px 34px 0;
}

.u-section-2 .u-image-1 {
  float: left;
  width: 200px;
  margin: 0 10px 10px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 319px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  font-style: italic;
  margin: 77px 0 0 20px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.875rem;
  background-image: none;
  animation-duration: 1000ms;
  border-style: none;
  margin: 20px 194px 0 auto;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: 20px 180px 0 auto;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: 20px 117px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
    margin-right: 94px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 21px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 45px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -10px;
    margin-right: 6px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 10px;
    margin-left: 77px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 17px;
    margin-left: 63px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 13px;
    margin-right: 10px;
    margin-left: -1px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 10px;
}.u-section-4 .u-sheet-1 {
  min-height: 550px;
}.u-section-5 .u-sheet-1 {
  min-height: 10px;
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 198px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 198px;
}

.u-section-6 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-6 .u-image-1 {
  height: 103px;
  animation-duration: 1000ms;
  width: 225px;
  margin: 53px 26px 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 198px;
  background-image: none;
}

.u-section-6 .u-image-2 {
  width: 228px;
  height: 93px;
  animation-duration: 1000ms;
  margin: 20px auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 198px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-image-3 {
  width: 214px;
  height: 102px;
  animation-duration: 1000ms;
  margin: 53px auto 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 198px;
  background-image: none;
}

.u-section-6 .u-image-4 {
  width: 228px;
  height: 93px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    position: relative;
    margin-right: 10px;
  }

  .u-section-6 .u-image-2 {
    width: 188px;
    height: 77px;
    position: relative;
  }

  .u-section-6 .u-image-3 {
    width: 188px;
    height: 115px;
    position: relative;
  }

  .u-section-6 .u-image-4 {
    width: 188px;
    height: 77px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-6 .u-image-2 {
    width: 144px;
    height: 59px;
  }

  .u-section-6 .u-image-3 {
    width: 144px;
    height: 88px;
  }

  .u-section-6 .u-image-4 {
    width: 144px;
    height: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 155px;
  }

  .u-section-6 .u-image-1 {
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 95px;
  }

  .u-section-6 .u-image-2 {
    width: 135px;
    height: 55px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 72px;
  }

  .u-section-6 .u-image-3 {
    width: 135px;
    height: 83px;
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 55px;
  }

  .u-section-6 .u-image-4 {
    width: 135px;
    height: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-6 .u-image-2 {
    width: 113px;
    height: 46px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-6 .u-image-3 {
    width: 113px;
    height: 70px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: auto;
  }

  .u-section-6 .u-image-4 {
    width: 113px;
    height: 46px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 10px;
}